.form {
    max-width: 550px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 2px solid rgb(255, 199, 135);
    padding: 30px;
    border-radius: 10px;
}

.InputBox{
    Margin: 10px 5px;
}

.NascimentoInput{
    display: inline-block;
}